<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="Students"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Сергей\source\repos\StudentsDBApp\StudentsDBApp\Students.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>